.container {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
}

.logo { width: 95%; }
.logo-text { width: 80%; }

#dropArea {
    width: 100%;
    border: 4px dashed #ddd;
    border-radius: 3px;
    min-height: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
    text-align:center;
    justify-content: center;
}

#dropArea > * {
    margin-bottom: 15px;
}

#dropArea input {
    position: absolute;
    width: 100%;
    min-height: 250px;
    opacity: 0;
}

#dropArea .mp3 {
    width: 70px;
}

textarea {
    min-height: 160px;
    background-color: #fff !important;
}

.question-mark {
    background-color: #ff9900;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.form-control:focus {
    border-color: #ff9900;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6);
}

button {
    z-index: 1000;
}

@media (max-width: 768px)
{
    div[class^="row"] {
        padding-left: 11px;
        padding-right: 11px
    }
    div[class^="col"] { padding: 4px; }
}

@media (min-width: 768px)
{
    div[class^="container"] { margin-top: 30px; }
    div[class^="col"] { padding: 4px; }
}
